# Streamlit App
streamlit==1.33.0

# Database
pymongo[srv]==4.7.0

# HTTP Requests
requests==2.31.0

# PDF and OCR
pdf2image
pytesseract
PyPDF2
PyMuPDF
Pillow

# Google APIs (Service Account support)
google-api-python-client
google-auth
google-auth-oauthlib  # Optional if using InstalledAppFlow locally
google-generativeai==0.8.5

